@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cairo', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  position: relative;
  z-index: 1;
}

.App {
  min-height: 100vh;
  background-color: #61dbfb;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  background-color: #3a3f49;
  color: #fff;
  border-radius: 0.2rem;
  box-shadow: 12px 18px 15px 0px rgba(59, 85, 98, 0.3);
}

.wrapper {
  padding: 2rem 3rem 3rem 3rem;
  width: 95%;
  margin: 0 auto;
}
.title-logo {
  color: #00ccff;
  font-weight: 700;
  margin: 0 0 1rem 0;
}
.title-logo i {
  font-size: 1rem;
  margin: 0 0.5rem 0 0;
}
/* start Header */

header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0.8rem 0;
}

.logo-text {
  line-height: 1.2;
}

.logo-text span {
  color: #77a1b2;
  font-size: 0.8rem;
}

.links {
  display: flex;
}

.links h4 .link {
  color: rgba(255, 255, 255, 0.473);
  text-decoration: none;
}

.links h4:nth-child(1) {
  padding: 0 3rem 0 0;
}
/* end header */

/* start Add Todo */
section.add-todo {
  padding: 0 0 1.5rem 0;
}

::placeholder {
  color: rgba(85, 85, 85, 0.486);
  opacity: 1; /* Firefox */
}

section.add-todo input[type='text'] {
  width: 40%;
  min-width: 15rem;
  border: none;
  padding: 0.4rem 0.5rem;
  margin: 0 1rem 0 0;
  border-radius: 0.2rem;
  outline: none;
}

section.add-todo input[type='submit'] {
  width: 10%;
  min-width: 4.5rem;
  border: none;
  padding: 0.4rem 0.5rem;
  border-radius: 0.2rem;
  outline: none;
  background-color: #61dbfb;
  color: #4e5254;
}
/* End Add Todo */

/* start Todos */
.todo {
  border-bottom: 2px solid #adaeaf50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.4rem;
}
.todo:nth-child(1) {
  border-top: 2px solid #adaeaf50;
}

.todo-check-box {
  margin: 0 1rem 0 0;
  cursor: pointer;
}

.del-btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  cursor: pointer;
}
.svg {
  vertical-align: middle;
}
/* End Todos */

/* start Modal  */
.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.459);

  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-wrapper .modal {
  padding: 1.5rem;
  width: 60%;
  background: #5e7ca8;
  border-radius: 8px;
}

.modal-wrapper .modal .close-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  color: #fff;
  margin: 0 0 0 auto;
}
.modal-wrapper .modal h3 {
  margin: -1rem 0 1rem 0;
  color: #fff;
}

/* End Modal  */

/* start Mobile */
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  body {
    font-size: 0.9rem;
  }
  .container {
    width: 90%;
  }
  .wrapper {
    padding: 1.5rem 0rem 2rem 0rem;
    width: 87%;
  }
  .modal-wrapper .modal {
    width: 75%;
  }
  .modal-wrapper .modal section.add-todo {
    padding: 0;
  }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  header {
    display: block;
    padding: 0 0 0.8rem 0;
  }
  .logo-text {
    padding: 0 0 1rem 0;
  }
  .links {
    justify-content: space-between;
  }
  .links h4:nth-child(1) {
    padding: 0 0 0 0;
  }
  section.add-todo input[type='text'] {
    width: 100%;
    margin: 0 0 0.5rem 0;
  }
  .modal-wrapper .modal {
    width: 90%;
    padding: 1.2rem;
  }
}
/* End Mobile */
